{% extends "base.html" %}
{% block title %}{{ super() }} Groups {% endblock %}
{% block crumbs %}{{ super() }} 
/ <a href="././">Groups</a>
/ <a href="./{{data['name']}}">{{data['title']}}</a>
{% endblock %}
{% block body %}
    <section id="group">
      <div>{{ data['description'] }}</div>
      <div><a title="Members of " href="{{ config['server']['url'] }}/group/{{ data['name'] }}/?outputFormat=html">List members of group {{ data['title'] }} collection</a></div>
      <h2>Links</h2>
      <ul>
        {% for link in data['links'] %}
          <li><a title="{{ link['title'] }}" href="{{ link['href'] }}">{{ link['title'] }}</a></li>
        {% endfor %}
      </ul>
      <h2>Members of this group</h2>
      <table class="striped" style="overflow: visible;">
        <caption>Members of group</caption>
        <thead>
        <tr>
          <th id="name">Name</th>
          <th id="description">Description</th>
        </tr>
        </thead>
        <tbody>
          {% for member in data['members'] %}
          <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
            <td data-label="name">
              <meta itemprop="url" content="{{ member[3]['href']}}" />
              <a  title="{{ member[3]['title'] | striptags | truncate }}" 
                href="{{ member[3]['href']}}">
                <span itemprop="name">{{ member[3]['title'] | striptags | truncate }}</span></a>
            </td>
            <td itemprop="description" data-label="description">
              {{ member[3]['title'] | striptags | truncate }} 
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
{% endblock %}
